@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #655A7C;
}

body{
    min-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}


#inicioLogo{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#inicioLogo h1{
    font-family: 'Cal Sans';
    color: #655A7C;
    font-size: 300;
}

#inicioLogo img{
    width: 220px;
}

#inicioLogo span{
    font-weight: 600;
    font-size: 14px;
}

#btnAvancar{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#avance{
    width: 70px;
    height: 70px;

    border: none;
    border-radius: 50%;

    background-color: #AB92BF;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 0.3s;
}

#avance i{
    font-size: 30px;
    color: white;
}

#avance:hover{
    transform: scale(1.05);
}


#cadastro {
     position: fixed;
    inset: 0;
    z-index: 10;

    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    background:
        linear-gradient(
            90deg,
            #FFC5E3 0%,
            #AB92BF 100%
        ),
        #f8f8fb;

    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        transform 0.7s ease,
        opacity 0.45s ease,
        visibility 0.7s;
}

#cadastro.ativo {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.topoCadastro {
    height: 100px;
    width: 100%;

    padding: 38px 18px 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    color: white;
}

.topoCadastro a {
    color: white;
    text-decoration: none;
}

.cardCadastro {
    flex: 1;

    width: 100%;
    margin: 0;

    padding: 38px 28px 24px;
    box-sizing: border-box;

    background: #F9FAFE;
    border-radius: 34px 34px 0 0;

    display: flex;
    flex-direction: column;
}

.cardCadastro h2 {
    color: #655A7C;
    font-size: 34px;
    margin-bottom: 5px;
    font-family: 'cal sans';
    font-weight: 500;
}

.cardCadastro p {
    color: #655A7C;
    margin-top: 0;
    font-size: 15px;
}

#voltarInicio {
    width: 28px;
    height: 28px;

    border: 2px solid white;
    border-radius: 50%;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.3s;
}

#voltarInicio i {
    font-size: 15px;
    color: white;
}

#voltarInicio:hover {
    transform: scale(1.05);
}