@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #655A7C;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}


#inicioLogo {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#inicioLogo h1 {
    font-family: 'Cal Sans', sans-serif;
    color: #655A7C;
    font-size: 30px;
}

#inicioLogo img {
    width: 220px;
}

#inicioLogo span {
    font-weight: 600;
    font-size: 14px;
}

#btnAvancar {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#avance {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background-color: #AB92BF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

#avance i {
    font-size: 30px;
    color: white;
}

#avance:hover {
    transform: scale(1.05);
}


#cadastro {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background:
        linear-gradient(
            135deg,
            #FFC5E3 0%,
            #AB92BF 100%
        ),
        #f8f8fb;
}

.topoCadastro {
    height: 100px;
    width: 100%;
    padding: 38px 18px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.topoCadastro a {
    color: white;
    text-decoration: none;
}

.cardCadastro {
    flex: 1;
    width: 100%;
    margin: 0;
    padding: 38px 28px 24px;
    background: #F9FAFE;
    border-radius: 34px 34px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.cardCadastro h2 {
    color: #655A7C;
    font-size: 34px;
    margin-bottom: 5px;
    font-family: 'Cal Sans', sans-serif;
    font-weight: 500;
}

.cardCadastro p {
    color: #655A7C;
    margin-top: 0;
    font-size: 15px;
}

.conteudoCard {
    width: 500px;
    max-width: 100%;
    text-align: center;
}

#voltarInicio {
    width: 28px;
    height: 28px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

#voltarInicio i {
    font-size: 15px;
    color: white;
}

#voltarInicio:hover {
    transform: scale(1.05);
}

#cadastroQuest {
    width: 100%;
    display: flex;
    justify-content: center;
}

#cadastro form {
    width: 100%;
    max-width: 340px;
    margin: 30px 0 0;
    display: flex;
    flex-direction: column;
}

#cadastro form p {
    margin-bottom: 8px !important;
    width: 100% !important;
    position: relative; 
}

#cadastro form input[type="text"],
#cadastro form input[type="email"],
#cadastro form input[type="password"] {
    width: 100% !important;
    height: 48px !important;
    background-color: #D8D2DF !important; 
    border: none !important;
    border-radius: 15px !important; 
    padding: 0 18px 0 48px !important;  
    font-size: 14px !important;
    color: #655A7C !important;
    outline: none !important;
    box-sizing: border-box !important;
}

#cadastro form input::placeholder {
    color: #655A7C !important;
}

#cadastro form p i {
    position: absolute !important;
    left: 18px !important;
    top: 24px !important;
    transform: translateY(-50%) !important;
    color: #9C8DA5 !important;
    font-size: 15px !important;
    pointer-events: none !important;
    z-index: 5 !important;
}

#cadastro form input[type="submit"] {
    width: 100% !important;
    height: 48px !important;
    background-color: #AB92BF !important; 
    color: #FFFFFF !important;
    border: none !important;
    border-radius: 18px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    text-transform: uppercase !important;
    box-shadow: 0px 4px 12px rgba(171, 146, 191, 0.25) !important;
    margin-top: 15px !important;
    padding: 0 !important;
}

#cadastro form input[type="submit"]:hover {
    background-color: #967aaB !important;
}

#cadastro form p span{
    color: #FF3B30 !important;
    font-size: 11px !important;
    display: block !important;
    margin-top: 4px !important;
    padding-left: 12px !important;
}

#btnCadastrar {
    margin-top: 10px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.4s ease-out forwards;
    will-change: opacity, transform;
}

.fade-out {
    animation: fadeOut 0.3s ease-in forwards;
}


/* login */

#login {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background:
        linear-gradient(
            135deg,
            #FFC5E3 0%,
            #AB92BF 100%
        ),
        #f8f8fb;
}

.topoLogin {
    height: 100px;
    width: 100%;
    padding: 38px 28px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#esqueceuSenha {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    transition: opacity 0.3s;
}

#esqueceuSenha:hover {
    opacity: 0.8;
}

.cardLogin {
    flex: 1;
    width: 100%;
    margin: 0;
    padding: 38px 28px 24px;
    background: #F9FAFE;
    border-radius: 34px 34px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.conteudoLogin {
    width: 340px;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudoLogin h1 {
    color: #655A7C;
    font-size: 34px;
    margin-bottom: 2px;
    font-family: 'Cal Sans', sans-serif;
    font-weight: 500;
}

.conteudoLogin .subtitulo {
    color: #655A7C;
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 20px;
}


#login form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.campoLogin {
    margin-bottom: 15px !important;
    width: 100% !important;
    position: relative !important; 
}

.campoLogin input[type="text"],
.campoLogin input[type="password"] {
    width: 100% !important;
    height: 48px !important;
    background-color: #D8D2DF !important; 
    border: none !important;
    border-radius: 15px !important; 
    padding: 0 48px 0 48px !important;  
    font-size: 14px !important;
    color: #655A7C !important;
    outline: none !important;
    box-sizing: border-box !important;
}

.campoLogin input::placeholder {
    color: #655A7C !important;
}

.campoLogin > i.fa-solid {
    position: absolute !important;
    left: 18px !important;
    top: 24px !important;
    transform: translateY(-50%) !important;
    color: #9C8DA5 !important;
    font-size: 15px !important;
    pointer-events: none !important;
    z-index: 5 !important;
}

.mostrarSenha {
    position: absolute;
    right: 15px;
    top: 24px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
    padding: 0;
}

.mostrarSenha i {
    color: #9C8DA5;
    font-size: 16px;
}

.campoLogin span {
    color: #FF3B30 !important;
    font-size: 11px !important;
    display: block !important;
    margin-top: 4px !important;
    padding-left: 12px !important;
    text-align: left;
}


.lembrarLogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 20px;
    width: 100%;
}

.lembrarLogin span {
    font-size: 13px;
    color: #655A7C;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #D8D2DF;
    transition: .3s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .3s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #AB92BF;
}

input:checked + .slider:before {
    transform: translateX(20px);
}


#btnEntrar {
    width: 100%;
    margin-bottom: 20px;
}

#btnEntrar input[type="submit"] {
    width: 100% !important;
    height: 48px !important;
    background-color: #AB92BF !important; 
    color: #FFFFFF !important;
    border: none !important;
    border-radius: 18px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    text-transform: uppercase !important;
    box-shadow: 0px 4px 12px rgba(171, 146, 191, 0.25) !important;
    padding: 0 !important;
    transition: background-color 0.3s;
}

#btnEntrar input[type="submit"]:hover {
    background-color: #967aaB !important;
}


.link-cadastro, .link-login {
    font-size: 14px;
    color: #655A7C;
    margin-bottom: 12px;
}

.link-cadastro a, .link-login a {
    color: #AB92BF;
    text-decoration: none;
    margin-left: 5px;
}

/* telas de questionário abaixo */

#questionario {
    width: 100%;
    min-height: 100dvh;
    height: auto;

    background-color: #f8f9fc;

    display: flex;
    flex-direction: column;

    position: relative;

    padding: 8vh 8vw 4vh;
}

.conteudoQuest {
    width: 100%;
    max-width: 900px;
}

.tituloQuest {
    margin-bottom: 7vh;
}
.tituloQuest h1 {
    color: #655A7C;
    font-size: clamp(20px, 1.6vw, 28px);
    font-weight: 600;
    margin-bottom: 8px;
}

.barraProgresso {
    width: 100%;
    max-width: 900px;
    height: 3px;
    background-color: #d9d0e8;
    position: relative;
}

.barraProgresso span {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 3px;
    background-color: #7455ad;
    border-radius: 5px;
}

.barraProgresso::after {
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    width: 20px;
    height: 4px;
    background-color: #7455ad;
    border-radius: 50%;
}

.areaPergunta {
    width: 100%;
    max-width: 900px;
}

.pergunta {
    color: #5e5570;
    font-size: clamp(13px, 1vw, 16px);
    font-weight: 400;
    margin-bottom: 28px;
}

.papeis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.role-button {
    min-width: 110px;
    height: 38px;
    padding: 0 20px;
    border: 3px solid #716087;
    border-radius: 22px;
    background-color: transparent;
    color: #665783;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease,
        transform 0.15s ease;
}

/* Quando selecionado */
.role-button.selecao {
    background:
        linear-gradient(
            to right,
            rgba(255, 188, 220, 0.4),
            rgba(101, 90, 124, 0.4)
        ),
        #655A7C;
    border-color: transparent;
    color: #fff !important;
}

.role-button.selecao span {
    color: #fff !important;
}

.check {
    display: none;
    font-size: 8px;
    font-weight: 600;
}

.check i{
    margin-top: 3px;
    font-size: 14px;
    color: #fff;
}

.role-button.selecao .check {
    display: inline;
    color: #fff !important;
}
/* 
.complemento {
    margin-top: 300px;
    color: #8a8195;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
} */

.footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8f82a3;
}

.logo strong {
    font-size: 10px;
    font-weight: 600;
}

.logo small {
    font-size: 7px;
    margin-top: 2px;
}

.logo img{
    width: 40px;
    margin-bottom: 8px;
}

.areaContinuar {
    width: 100%;
    max-width: 900px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.areaContinuar p {
    color: #8a8195;
    font-size: 13px;
    margin-bottom: 18px;
}

#btnContinuar {
    width: 180px;
    height: 48px;
    border: none;
    border-radius: 18px;
    background-color: #AB92BF !important; 
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}


/* responsividade do quest */

@media (max-width: 600px) {

    #questionario {
        width: 100%;
        min-height: 100dvh;
        height: auto;
        padding: 90px 32px 30px;
        border: 2px solid pink;
    }

    .conteudoQuest {
        width: 100%;
        max-width: none;
        /* border: 2px solid green; */
        margin-top: 60px;
    }

    .tituloQuest {
        width: 100%;
        margin-bottom: 85px;
    }

    .tituloQuest h1 {
        font-size: 32px;
        line-height: 1.15;
        font-weight: 600;
        margin-bottom: 14px;
    }

    .barraProgresso {
        width: 100%;
        max-width: none;
        height: 4px;
    }

    .barraProgresso span {
        width: 65px;
        height: 4px;
    }

    .barraProgresso::after {
        width: 5px;
        height: 5px;
        top: -0.5px;
    }


    .areaPergunta {
        width: 100%;
        max-width: none;
    }

    .pergunta {
        font-size: 21px;
        line-height: 1.4;
        margin-bottom: 32px;
        font-weight: 500;
    }

    .papeis {
        width: 100%;
        gap: 24px;
        align-items: flex-start;
    }

    .role-button {
        min-width: 150px;
        height: 50px;
        padding: 0 30px;

        border: 3px solid #716087;
        border-radius: 26px;

        background-color: transparent;
        color: #665783;

        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 400;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .check i{
        font-size: 18px;
        color: #fff;
    }

    .footer {
        margin-top: 70px;
        padding-top: 50px;
    }

    .logo strong {
        font-size: 11px;
    }

    .logo small {
        font-size: 8px;
        margin-top: 3px;
    }

    .areaContinuar {
        margin-top: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .areaContinuar p {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    #btnContinuar {
        width: 100%;
        height: 52px;
        border-radius: 18px;
        font-size: 16px;
    }

}

/* parte do questionario - paciente */
.conteudoQuest .barraProgresso span.progressoCompleto {
    width: 100% !important;
}

.containerFormDados {
    width: 100%;
    max-width: 340px;
    margin: 25px auto 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.blocoPergunta {
    margin-bottom: 22px;
    width: 100%;
}

.blocoPergunta label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #655A7C;
}

.grupoDataAniversario {
    display: flex;
    gap: 10px;
    width: 100%;
}

.containerFormDados select {
    height: 48px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 0 35px 0 18px;
    font-size: 14px;
    color: #655A7C;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://w3.org' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23655A7C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 14px;
}

/* Proporções harmônicas para que a linha da data ocupe o espaço correto */
.grupoDataAniversario select:nth-child(1) { flex: 1.2; } /* Caixa do Dia */
.grupoDataAniversario select:nth-child(2) { flex: 2; }   /* Caixa do Mês */
.grupoDataAniversario select:nth-child(3) { flex: 1.5; } /* Caixa do Ano */

/* Feedback visual simples ao passar o mouse por cima dos seletores */
.containerFormClinico select:hover {
    background-color: #cfc9d6;
}