<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlicoHealth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div id="inicio">
        <div id="inicioLogo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            <h1>Glico Health</h1>
            <span>Sua plataforma de saúde e bem-estar digital</span>
        </div>
        <div id="btnAvancar">
            <button id="avance" type="button" aria-label="Ir para cadastro">
                <i class="fa-solid fa-arrow-down"></i>
            </button>
        </div>
    </div>

    <section id="cadastro">
        <div class="topoCadastro">
                <button id="voltarInicio" type="button" aria-label="Voltar para tela inicial"> 
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
        </div>

        <div class="cardCadastro">
            <h2>Seja bem-vindo(a)</h2>
            <p>Crie sua conta para começar!</p>
        </div>

        <div id="cadastroQuest">
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
            
                <p>
                    <i class="fa-solid fa-signature"></i>{{ form.name(placeholder="Como deseja ser chamado?") }}
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p>
                    <i class="fa-solid fa-envelope"></i>{{ form.email(placeholder="Digite seu e-mail") }}
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p>
                    <i class="fa-solid fa-user"></i>{{ form.username(placeholder="Digite seu usuário") }}
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p>
                    <i class="fa-solid fa-lock"></i>{{ form.password(placeholder="Digite sua senha") }}
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p>
                    <i class="fa-solid fa-shield-halved"></i>{{ form.confirm_password(placeholder="Confirme sua senha") }}
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p>{{ form.submit() }}</p>
            </form>
            
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>