<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlicoHealth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div id="inicio">
        <div id="inicioLogo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            <h1>Glico Health</h1>
            <span>Sua plataforma de saúde e bem-estar digital</span>
        </div>
        <div id="btnAvancar">
            <button id="avance"><i class="fa-solid fa-arrow-down"></i></button>
        </div>
    </div>
</body>
</html>