<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <section id="login">
        <div class="topoLogin">
            <a href="{{ url_for('inicio') }}" id="voltarInicio" aria-label="Voltar para tela inicial">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <a href="#" id="esqueceuSenha">Esqueceu sua senha?</a> <!-- nao sei oq fazer aqui -->

        </div>
        <div class="cardLogin">
            <div class="conteudoLogin">
                <h1>Vamos lá!</h1>
                <p class="subtitulo">Que bom que você voltou!</p>

                <form action="{{ url_for('login') }}" method="POST" novalidate>

                    {{ form.hidden_tag() }}
                    <p class="campoLogin">
                        <i class="fa-solid fa-user"></i>
                        {{ form.username(placeholder="Digite seu usuário") }}

                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </p>

                    <p class="campoLogin">
                        <i class="fa-solid fa-lock"></i>
                        {{ form.password(placeholder="Digite sua senha") }}
                        <button type="button" class="mostrarSenha" aria-label="Mostrar senha">
                            <i class="fa-regular fa-eye-slash"></i>
                        </button>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </p>

                    <div class="lembrarLogin">
                        <span>Lembrar da próxima vez</span>
                        <label class="switch">
                            {{ form.rm() }}
                            <span class="slider"></span>
                        </label>
                    </div>

                    <p id="btnEntrar">
                        {{ form.submit(value="ENTRAR") }}
                    </p>
                </form>

                <p class="link-cadastro">Não tem uma conta?<a href="{{ url_for('cadastro') }}">Cadastre-se</a></p>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>
